<% if (level) { %>
        <% if (level === 1) { %>
          <div class="c-game__story">
            <h1 class="c-game__title">Welkom in Griekenland</h1>
            <p class="c-storytext">
              “Ah Griekenlanden, geboorteplaats van de Olympische Spelen! Een land
              doordrenkt van geschiedenis en legendes, waar de geesten van oude goden
              en helden nog lijken te fluisteren tussen de ruïnes. <br> <br>Het Olympisch vuur
              is onverwachts gedoofd. Alleen door een eeuwenoud, mysterieus ritueel
              uit te voeren kan de vlam weer tot leven worden gewekt. Jij bent de
              sleutel tot dit herontwaken – De toekomst van het vuur ligt in jouw
              handen.”
            </p>
          </div>
          <div class="c-level" style="display: none;" data-level="1"></div>
            <div class="c-game">
              <h1 class="c-game__title">Vind de 4 verloren <svg width="72" height="73" viewBox="0 0 72 73">
                <path d="M63.7151 19.5533L35.9406 69.1687L7.931 19.6857L63.7151 19.5533Z" stroke="white" stroke-width="3"></path>
                <line x1="24.0536" y1="47.1963" x2="49.3036" y2="47.1963" stroke="white" stroke-width="3"></line>
              </svg></h1>
              <div class="js-greeceplayfield c-greece__playfield">
              </div>
            </div>
            <div class="c-gamehartslag">
              <h2>Behaal de volgende hartslag om door te gaan naar het volgende level</h2>
              <svg class="c-gamehartslag__svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 15.9375H8.4375L10.3125 13.125L14.0625 18.75L15.9375 15.9375H18.75" stroke="#E63946" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M2.85107 11.25C3.02404 9.70297 3.76115 8.27398 4.92146 7.23625C6.08177 6.19852 7.58386 5.62487 9.14053 5.625C11.7878 5.625 14.0554 7.06758 14.9999 9.375C15.9444 7.06758 18.212 5.625 20.8593 5.625C22.5376 5.625 24.1472 6.29171 25.3339 7.47846C26.5207 8.66522 27.1874 10.2748 27.1874 11.9531C27.1874 19.6875 14.9999 26.25 14.9999 26.25C14.9999 26.25 10.8562 24.0234 7.40147 20.625" stroke="#E63946" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <h3></h3>
            </div>
        <div class="overlay"></div>      
    <% } %>
    <% if (level === 2) { %>
      <div class="c-game__story">
        <h1 class="c-game__title">Welkom in Rome</h1>
        <p class="c-storytext">
          “Je staat in het majestueuze Colosseum, een plek waar ooit gladiatoren vochten onder het gejuich van duizenden. Nu is het stil, behalve het zachte ruisen van de wind door de oude stenen.<br><br>
          Om de geheime doorgang te vinden, moet je door het doolhof navigeren. Elk pad leidt naar een rekenformule met 3 deuren; maar pas op, alleen één juiste route brengt je naar de uitgang”
        </p>
      </div>
        <div class="c-game c-game--rome">
        </div>

        <div class="c-gamehartslag">
        </div>
        <div class="c-level" style="display: none;" data-level="2"></div>

    <div class="overlay"></div>      
<% } %>

<% } %>
