<% if (level) { %>

  <% if (level === 1) { %>
    <div class="c-game__story">
      <h1 class="c-game__title">Welkom in Griekenland</h1>
      <p class="c-storytext">
        “Ah Griekenland, geboorteplaats van de Olympische Spelen! Een land
        doordrenkt van geschiedenis en legendes, waar de geesten van oude goden
        en helden nog lijken te fluisteren tussen de ruïnes. <br><br>
        Het Olympisch vuur is onverwachts gedoofd. Alleen door een eeuwenoud, mysterieus ritueel
        uit te voeren kan de vlam weer tot leven worden gewekt. Jij bent de
        sleutel tot dit herontwaken – De toekomst van het vuur ligt in jouw
        handen.”
      </p>
    </div>
    <div class="c-game">
      <h1 class="c-game__title">Vind de 4 verloren <svg width="72" height="73" viewBox="0 0 72 73">
        <path d="M63.7151 19.5533L35.9406 69.1687L7.931 19.6857L63.7151 19.5533Z" stroke="white" stroke-width="3"></path>
        <line x1="24.0536" y1="47.1963" x2="49.3036" y2="47.1963" stroke="white" stroke-width="3"></line>
      </svg></h1>
      <div class="js-greeceplayfield c-greece__playfield"></div>
    </div>
    <div class="c-gamehartslag"></div>
    <div class="c-modeltip">
      <div class="c-tipmodel-body">
        Did you know? Greece is famous for its ancient culture and beautiful islands!
      </div>
      <button class="c-tipmodel-close">Close</button>
    </div>
    <div class="overlay"></div>
  <% } %>

  <% if (level === 2) { %>
    <div class="c-game__story js-romegame">
      <h1 class="c-game__title">Welkom in Italië</h1>
      <p class="c-storytext">

        “Je staat in het majestueuze Colosseum, een plek waar ooit gladiatoren vochten onder het gejuich van duizenden. Nu is het stil, behalve het zachte ruisen van de wind door de oude stenen. <br><br>
        Om de geheime doorgang te vinden, moet je door het doolhof navigeren. Elk pad leidt naar een rekenformule met 3 deuren; maar pas op, alleen één juiste route brengt je naar de uitgang.”
      </p>
    </div>
    <div class="c-game">
      <div class="c-romequestion js-romegame">
        <h1 class="text-white">C - X = ?</h1>
      </div>
      <ul class="c-romedoor__list">
        <li class="c-romedoor__item c-romedoor__item--fout">
          <h2>IX</h2>
        </li>
        <li class="c-romedoor__item c-romedoor__item--corect">
          <h2>XC</h2>
        </li>
        <li class="c-romedoor__item">
          <h2>LX</h2>
        </li>
      </ul>
      <p class="c-romesecondpart o-hidden">De deur blijft gesloten... Stem je ritme af, voel de balans, en laat je hart de sleutel zijn.</p>
    </div>
    <div class="c-modeltip">
      <div class="c-tipmodel-body">
        Did you know? Greece is famous for its ancient culture and beautiful islands!
      </div>
      <button class="c-tipmodel-close">Close</button>
    </div>
    <div class="overlay"></div>
  <% } %>

  <% if (level === 3) { %>
    < class="c-game__story">
      <h1 class="c-game__title">Welkom in Zwitserland</h1>
        <p class="c-storytext">
          “Je hebt de ijzige Alpen van Zwitserland bereikt, waar de koude wind de vlam in je fakkel bedreigt. Om het vuur te versterken en te beschermen, moet je je hartslag stabiel houden. <br><br>
          Adem rustig, beweeg bedachtzaam – te snel en het vuur flakkert, te langzaam en het kan doven. De kou is genadeloos, maar jouw focus is de sleutel om de vlam levend te houden. Kun jij de balans vinden?”
        </p>
      
    </div>
    <div class="c-modeltip">
      <div class="c-tipmodel-body">
        Did you know? Greece is famous for its ancient culture and beautiful islands!
      </div>
      <button class="c-tipmodel-close">Close</button>
    </div>
    <div class="overlay"></div>
  <% } %>

  <% if (level === 4) { %>
    <div class="c-game">
      <div class="container js-duistlandplayfield">
        <p class="c-storytext text-center">
          Vul het bier aan, het begint pas te vullen tussen de gewenste hartslag.
        </p> 
      </div>
      <div class="container text-center">
        <h1 class="c-white text-center js-range">100-120</h1>
      </div>
      <div class="container c-container--duits">
        <div class="beer-container">
          <div class="beer">
            <div class="foam-bubble" style="left: 10%; width: 10px; height: 10px; animation-delay: 0s;"></div>
            <div class="foam-bubble" style="left: 25%; width: 15px; height: 15px; animation-delay: 0.5s;"></div>
            <div class="foam-bubble" style="left: 50%; width: 20px; height: 20px; animation-delay: 1s;"></div>
            <div class="foam-bubble" style="left: 70%; width: 12px; height: 12px; animation-delay: 1.5s;"></div>
            <div class="foam-bubble" style="left: 85%; width: 18px; height: 18px; animation-delay: 2s;"></div>
          </div>
          <div class="foam"></div>
        </div>
      </div>
    </div>
    <div class="c-game__story">
      <h1 class="c-game__title">Welkom in Duitsland</h1>
      <p class="c-storytext">
        “Wilkommen in Deutschland! Hier in het land van de biergartens en
        de Beierse Alpen, waar de mensen net zo hartelijk zijn als de
        schnitzels groot. <br><br> Maar het is niet alleen feest en
        gezelligheid. Er is een duistere kracht aan het werk, die de
        vrede van het land bedreigt. Alleen door de juiste hartslag te
        vinden, kun je de balans herstellen en de vrede bewaren.”
      </p>
    </div>
  <% } %>

  <% if (level === 5) { %>
    <div class="c-game__story">
      <h1 class="c-game__title">Welkom in België</h1>
      <p class="c-storytext">
        “Een grijze hemel strekt zich uit boven je, en de regen begint genadeloos neer te slaan. Elk druppeltje dat de fakkel raakt, doet de vlam flakkeren. Je moet snel handelen om het vuur droog te houden en de tocht te voltooien.”
      </p>
    </div>
    <div class="c-game">
      <div class="container">
        <p class="c-storytext">
          Het ziet eruit dat het nacht is, maar dat zal ons niet tegenhouden om verder te gaan! Want zelfs in de donkerste uren brandt er altijd een vlam die ons vooruitduwt!
        </p>
      </div>
      <div class="container c-container--belgpuzel">
        <div>
          <img src="img/puzelbelg.png" class="c-puzelbelgrebus" alt="">
          <input type="text" class="c-input" placeholder="Vul hier je antwoord in">
        </div>
      </div>
      <div class="container c-belggameindication">
        <img src="img/torch.png" alt="fakel" class="c-torchbelg">
        <h3 class="c-white">110-130</h3>
      </div>
    </div>
  <% } %>

  <% if (level === 6) { %>
    <div class="c-game__story">
      <h1 class="c-game__title">Welkom in Frankrijk</h1>
      <p class="c-storytext">
        “De lichtstad Parijs strekt zich voor je uit, met het stadion in de verte. Dit is het moment waarop alles samenkomt. De vlam sputtert, uitgeput van de lange reis, en obstakels verschijnen in je pad. <br><br>
        Een menigte kijkt toe, en in de chaos duiken saboteurs op, vastberaden om je missie te doen falen.
        Je moet een weg banen door het plein. Er is één laatste raadsel dat je moet oplossen: Als je de juiste combinatie vindt, opent een verborgen doorgang. Daarna is het aan jou – sprint de laatste meters naar het stadion terwijl de saboteurs je op de hielen zitten.”
      </p>
    </div>
  <% } %>

<% } %>
