.c-personcards
{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: var(--spacing-3);
padding: 1rem 0;
}

.c-popup {
        background-color: var(--neutral-50);
        padding: var(--spacing-6);
        border-radius: var(--radius-m);
        text-align: center;
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.3s ease-in-out;
        display: flex;
        gap: var(--spacing-4);
        flex-direction: column;
        align-items: center;
        width: 25rem;
        position: relative;
        padding-top: 2.5rem;
    }

    .c-popup input
    {
        width: 100%;
    }

    .c-popup__joinroom *{
        width: 100%;
    }

    .c-popup__close{
        background-color: transparent;
        position: absolute;
        right: var(--spacing-4);
        top: var(--spacing-4);
        cursor: pointer;
    }

        .c-popup__close svg{
                width: 1.5rem;
                height: 1.5rem;
        }

        .c-popup__close svg path{
                fill: var(--neutral-500);
                stroke: var(--neutral-500);
        }
        


    .c-popup__joinroom{
        width: 100%;
    }

    .c-input__errorSpan{
        word-break: break-word;
    }

    .c-button--green
    {   
        background-color: rgb(70 153 70);
    }

    .c-button--red
    {
        background-color: var(--rood-rood-accent-100);
    }

    .c-popup__buttons{
        display: flex;
        gap: var(--spacing-3);
        width: 100%;
    }
.c-personcard{
        flex-wrap: wrap;
        display: flex;
        gap: var(--spacing-5);
        align-items: center;
        padding: var(--spacing-5);
        border-radius: var(--radius-m);
        background-color: var(--blauw-blauw-accent-20);
        box-shadow: 0 0 5px 0 var(--neutral-400);
        transition: all 0.3s;
        width: 100%;
        animation: shake 0.3s forwards;
}

.c-personcard__heartbeat{
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
}

.c-personcard__heartbeat p
{
padding-top: .1rem;
}

.c-personcard__imgdiv
{
 height: fit-content;
 position: relative;
}

.c-personcard__img
{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 5px 0 var(--blauw-blauw-accent-70);
}

.c-personcard__admincrown{
        position: absolute;
        transform: rotate(21deg);
        top: -.9rem;
        height: 2rem;
        right: -1rem;
}


.c-removebutton
{
margin-left: auto;
}

.c-removebutton:hover {
        cursor: pointer;
}

.c-removebutton:hover svg path
{
        stroke : var(--rood-rood-accent-90);
}
        
.c-removebutton svg
{
        width: 2rem;
        height: 2rem;
}

.c-roomsearch{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-6);
}

.c-roomssearch__zoeklabel{
        position: relative;
        display: flex;
        width: 100%;
}

.c-room{
    background: linear-gradient(135deg, #d8e8ff, #f0f9ff);
    border-radius: var(--radius-l);
    padding: var(--spacing-5);
    box-shadow: 0 0 5px 0 var(--neutral-400);
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
    position: relative;

    }

    .c-room__lock{
        height: 1.5rem;
        width: 1.5rem;
        padding-top: var(--spacing-1);
    }

    .c-roomlobbysearch
    {
        display: flex;
        gap: var(--spacing-3);
        align-items: center;
        justify-content: space-between;
    }

    .c-roomlobbylockbutton{
        width: fit-content;
    }

    .c-roomlobbylockbutton svg 
    {
        height: 1.5rem;
        width: 1.5rem;
    }

    .c-roomlobbylockbutton svg path
    {
        fill: var(--text-white);
    }

    .c-roomlobbylockbutton svg path d
    {
        fill: var(--text-white);
    }

    .c-room__title
    {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    text-align: center;
    word-break: break-word;
    }

    .c-rooms{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-5);
    }

    .c-room__button{
        width: fit-content;
        margin-left: auto;
    }

.nav{
        height: 5rem !important;
}

body:has(.c-nav) {
        margin-top: calc(5rem + var(--spacing-6));
    }

body:has(.c-footer)
{
        margin-bottom: calc(5rem + var(--spacing-6));
}

.c-footer{
        height: 5rem !important;
}

.c-uitdaging__div
{
width: 100%;
position: relative;
height: 100%;
border-radius: var(--radius-l);
display: flex;
align-items: center;
justify-content: center;
}

.c-uitdaging__div--shadow::before {
        content: "";
        display: block;
        width: 100%;
        border-radius: var(--radius-l);
        position: absolute;
        background-color: #00000050;
        z-index: 1;
        height: 100%;
        top: 0;
    }

.c-uitdaging__img {
width: 100%;
border-radius: var(--radius-l);
height: 100%;
object-fit: cover;
}

.c-uitdaging__title {
        position: absolute;
        z-index: 2;
        color: var(--text-white);
    }

@media (max-width: 1024px) 
{
        .c-personcard
        {
               padding: var(--spacing-3);
        }

}

@media (max-width: 768px) 
{
        .c-personcards
        {
                grid-template-columns: 1fr 1fr;
        }
        .c-personcard
        {
                padding: var(--spacing-3);
                flex-direction: column;
                gap: var(--spacing-1);

        }

        .c-personcard__info
        {
                flex-direction: column;
                gap: var(--spacing-2);
                align-items: center;
                display: flex;
                justify-content: center;

        }

        .c-personcard__heartbeat{
                flex-direction: column;
        }
        .c-roomsearch
        {
                grid-template-columns: 1fr 1fr;
                gap:var(--spacing-3)
        }

        

        .c-removebutton
        {
                top: var(--spacing-3);
                position: absolute;
                right: var(--spacing-3);

        }

        .c-removebutton svg
        {
                width: 1.5rem;
                height: 1.5rem;
        }

        .c-personcard
        {
                padding: var(--spacing-3);
        }

        .c-room{
                flex-direction: column;
        }

        .c-room__info
        {
                flex-direction: column;
                gap: var(--spacing-2);
                display: flex;
                align-items: center;
        }

        .c-room__button{
         margin-left: 0;
        }
}

@media (max-width: 600px) 
{
        .c-personcards
        {
                grid-template-columns: 1fr;
        }
}

@media (max-width: 480px) 
{
        .c-roomsearch
        {
                grid-template-columns: 1fr;
        }
}