.c-personcards
{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: var(--spacing-3);
padding: 1rem 0;
}
.c-personcard{
        flex-wrap: wrap;
        display: flex;
        gap: var(--spacing-5);
        align-items: center;
        padding: var(--spacing-5);
        border-radius: var(--radius-m);
        background-color: var(--blauw-blauw-accent-20);
        box-shadow: 0 0 5px 0 var(--neutral-400);
        transition: all 0.3s;
        width: 100%;
        animation: shake 0.3s forwards;
}

.c-personcard__heartbeat{
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
}

.c-personcard__heartbeat p
{
padding-top: .1rem;
}

.c-removebutton
{
margin-left: auto;
}

.c-removebutton:hover {
        cursor: pointer;
}

.c-removebutton:hover svg path
{
        stroke : var(--rood-rood-accent-90);
}
        
.c-removebutton svg
{
        width: 2rem;
        height: 2rem;
}

.c-roomssearch{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: var(--spacing-3);
    margin-bottom: var(--spacing-6);
}

.c-roomssearch__zoeklabel{
        position: relative;
        display: flex;
        width: 100%;
}

.c-room{
        flex-wrap: wrap;
        display: flex;
        gap: var(--spacing-5);
        align-items: center;
        padding: var(--spacing-5);
        border-radius: var(--radius-m);
        background-color: var(--blauw-blauw-accent-20);
        box-shadow: 0 0 5px 0 var(--neutral-400);
        transition: all 0.3s;
        width: 100%;
        justify-content: space-between;
    }

    .c-rooms{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-5);
    }

.nav{
        height: 5rem !important;
}

body:has(.c-nav) {
        margin-top: calc(5rem + var(--spacing-6));
    }

body:has(.c-footer)
{
        margin-bottom: calc(5rem + var(--spacing-6));
}

.c-footer{
        height: 5rem !important;
}

@media (max-width: 1024px) 
{
        .c-personcard
        {
               padding: var(--spacing-3);
        }

}

@media (max-width: 768px) 
{
        .c-personcards
        {
                grid-template-columns: 1fr;
                
        }

        .c-roomssearch
        {
                grid-template-columns: 1fr;
        }

        .c-roomssearch__zoeklabel
        {
                margin-bottom: var(--spacing-3);
        }

        .c-removebutton
        {
                margin-left: auto;
        }

        .c-removebutton svg
        {
                width: 1.5rem;
                height: 1.5rem;
        }

        .c-personcard
        {
                padding: var(--spacing-3);
        }

}

